<!-- Section 2 - Homepage Card section-->
<div class="container">
    <div class="container">

        <!-- Main Paragraph -->
        <div class="col">
            <h5>Peeking behind the veil -- about team Service Works</h5>
            <p>Here is some history about our project.</p>
        </div>
    </div>

    <div class="row ">
      <div class="col s12 m4">
        <div class="icon block z-depth-1">
            <h4 class="center brown-text">Chris Morse</h4>
            <div class="card 300px">
              <div class="card-image contact-img">
                <%= image_tag("chrismorse.jpg")%>
                <span class="card-title"> <!-- TITLE --> </span>
              </div>
              <div class="card-content white">
                <ul>
                  <li>Contact@ChrisMorse.cn</li>
                  <li>Connect with me on LinkedIn! (https://www.linkedin.com/in/modake)</li>
                </ul>
              </div>
              <div class="card-action white">
              </div>
            </div>
        </div>
      </div>

        <div class="col s12 m4">
          <div class="icon block z-depth-1">
              <h4 class="center brown-text">Stephanie Reyes</h4>
              <div class="card 300px">
                <div class="card-image contact-img">
                  <%= image_tag("Stephaniereyes.jpg")%>
                  <span class="card-title"> <!-- TITLE --> </span>
                </div>
                <div class="card-content white">
                  <ul>
                    <li>www.stephaniereyes.co</li>
                    <li>stephanie@webreyes.com</li>
                    <li>(786)390-7635</li>
                  </ul>
                </div>
                <div class="card-action white">
                </div>
              </div>
          </div>
        </div>
          <div class="col s12 m4">
            <div class="icon block z-depth-1">
            <h4 class="center brown-text">Alex Miller</h4>
              <div class="card 300px">
                <div class="card-image contact-img" >
                    <%= image_tag("alexmiller.jpg")%>
                  <span class="card-title"> <!-- TITLE --> </span>
                </div>
                <div class="card-content white">
                  <ul>
                    <li>www.alex-miller.co</li>
                    <li>apmiller108@yahoo.com</li>
                    <li>319-621-1065</li>
                  </ul>
                </div>
                <div class="card-action white">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
