<style>

    .gallery {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

    }
    .gallery li {
        display: inline-block;
        width: 20%;
        margin: 0;
        position: relative;

    }
    .gallery li img {
        width: 100%;
        height: 100%;
    }
    .gallery li span {
        background: rgba(0,0,0,0.5);
        color: white;
        cursor: pointer;
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }
    .gallery li:hover span {
        opacity: 1;
    }
    .gallery li p {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 1.6em;
    }

</style>

<% images = [
    [asset_url("services/roof.jpg"), "Roof Repair"],
    [asset_url("services/walltile.jpg"), "Tile Installation"],
    [asset_url("services/planning.jpg"), "Project Consulting"],
    [asset_url("services/powerwashing.jpg"), "Power Washing"],
    [asset_url("services/floor.jpg"), "Flooring Installation"],
    [asset_url("services/drywall.jpg"), "Drywall Repair"],
    [asset_url("services/kitchen.jpg"), "Kitchen Installation"],
    [asset_url("services/paving.jpg"), "Driveway Paving"],
    [asset_url("services/hvac.jpg"), "HVAC Servicing"],
    [asset_url("services/plumbing.jpg"), "Plumbing Services"],
    [asset_url("services/landscaping.jpg"), "Lawn Maintenance"],
    [asset_url("services/tools.jpg"), "Artisan Services"],
    [asset_url("services/electrician.jpg"), "Electrical Services"],
    [asset_url("services/painting.jpg"), "Interior/Exterior Painting"],
    [asset_url("services/carpenter.jpg"), "Carpentry"],
    [asset_url("services/fence.jpg"), "Fence Installation"]
    ] %>

<ul class="gallery">
    <% images.each do |x, y| %>
        <li>
            <img src="<%= x %>" />
            <span><p><%= y %></p></span>
        </li>
    <% end %>
</ul>
<br>
