<p id="notice"><%= notice %></p>

<p>
  <strong>Additional notes:</strong>
  <%= @service_request.additional_notes %>
</p>

<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
