<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, there is a new quote available for your service request!</h1>
    <p>Please visit our website to respond to this new quote.</p>
  </body>
</html>