<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, a customer has recently accepted your quote for service.</h1>
    <p>Please visit our website to respond to this request.</p>
  </body>
</html>