
@import url(https://fonts.googleapis.com/css?family=Sacramento);

/* Navbar logo*/
a#logo {
  font-family: 'Sacramento', cursive;
  padding-top: 1%;
  font-size: 50px;
}

/***** HomePage *****/
/* Section 1 */
 /* First parrallax container */
 .parallax-container {
  position: relative;
 }

.home-title {
  font-size: 64;
  color: white;
  margin: 16% 0 0 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 10;
   background-color: rgba(150,150,150,0.3);
 }



#homedoor {
  height: 100vh;
}

.home-form {
  /*margin: 15% 0 0 0;*/
  opacity: 10%;
}


/* Section 2 */
/* Feature cards */
.card {
  display: inline;
  text-align: center;
}


/* Section 4  */
/* Subtitle headers */
h5 {
  /*text-align: center;*/
}


/* Geo Map -*/
#map {
  margin-top: 3%;
  height: 400px;
  width: 800px;

}


/****** Profile page ******/
/* profile header */
.profile-title {
  text-align: center;
}

/* Zip Search Form */
.user-form{
  background-color: white;
  padding: 3% 0 3% 0 !important;
}
