
@import url(https://fonts.googleapis.com/css?family=Sacramento);

.brand-logo {

}

a#logo {
  font-family: 'Sacramento', cursive;
  padding-top: 1%;
  font-size: 50px;
}


#homedoor {
  height: 100vh;
}

#map {
  margin-top: 3%;
  height: 400px;
  width: 800px;

}

.card {
  display: inline;
  text-align: center;
}

h5 {
  text-align: center;
}
