
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* Navbar logo*/
a#logo {
  font-family: 'Signika';
  font-size: 50px;
  margin-left: 2%;
}

/***** HomePage *****/
/* Section 1 */
 /* First parrallax container */
 .parallax-container {
  position: relative;
 }

.home-title {
  font-size: 64;
  color: white;
  margin: 16% 0 0 0;
  text-align: center;
  font-family: 'Architects Daughter', sans-serif;
}

.home-tag{
  text-align: center;
}
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 10;
   background-color: rgba(150,150,150,0.3);
 }

 .tab-content{
   margin-top:3%;
 }

 .tabs .tab a{
   /*color:black !important;*/
 }


#wash{
  height: 200px !important;
}

#homedoor {
  height: 100vh;
}

.home-form {
  /*margin: 15% 0 0 0;*/
  opacity: 10%;
}

/* Navbar */
.dropdown-content li a{
  font-size: 1em !important;
}

/* Section 2 */
/* Feature cards */
.card {
  display: inline;
  text-align: center;
}


/* Section 4  */
/* Subtitle headers */
h5 {
  /*text-align: center;*/
}


/* Geo Map -*/
#map {
  margin-top: 3%;
  height: 400px;
  width: 800px;

}


/****** Dashboard page ******/
/* profile header */
.profile-title {
  text-align: center;
}

.form{
  background-color: white;
  padding: 3% 0 3% 0 !important;
}
/* Zip Search Form */
.user-form{
  background-color: white;
  padding: 3% 0 3% 0 !important;
}

/* signup login*/
.signup-form{
    padding: 3% 0 3% 0 !important;
}
