body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  background-color: #FF9F1C;
  border-radius: 5px;
}

#error_explanation {
  width: 450px;
  border: 2px solid #FF9F1C !important;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #FF9F1C !important;

  .alert {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #fff !important;
    color: black !important;
  }
    ul li {
      color: white;
      font-size: 14px;
    }
}
