<footer class="page-footer #8bc34a light-green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">@ServiceWorks</h5>
        <p class="grey-text text-lighten-4">Fixing repairs near you</p>
      </div>
      <div class="col l4 offset-4 s12">
        <h5 class="white-text">FixMiCasa</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Cities</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Repairs</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Servicers: Join Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Copyright. Made with love in South Florida.
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
